<div class="container">
<img src="https://i.imgur.com/GHEWLus.jpg" alt="spotify cover" style="width:100%;">
<p>
Sergei Kofman (b. 1996) is an imaginative young composer based in Toronto. Sergei  completed his masters degree in Composition at the University of Toronto in 2020, where he was awarded the 2021 Ann H. Atkinson prize for an outstanding electroacoustic work, for his piece Voices in the Whir. in 2022, Sergei received support from the Toronto Arts Council for his project I Hear the Scent of Change and Stillness, an EP combining acoustic instruments, organic textures, and synthesized and industrial sounds. The project was released in 2023 and was accompanied by a concert at Toronto's ArrayMusic. He is active as a composer, producer, audio engineer, pianist, and educator. 

Sergei writes music for various media as well as the concert hall. He draws on an eclectic combination of influences in his work. His music has been performed by ensembles around Canada and the United States.</p>
</div>