<div class="container">
 <p>this is the contact page</p>
 <p>find some of my contact links below</p>
 <ul>
  <li>Email: sergeilevkofman@gmail.com</li>
  <li>GitHub: https://github.com/sergei-kofman</li>
  <li>Instagram: https://www.instagram.com/measure.music/</li>
  <li>LinkedIn: https://www.linkedin.com/in/sergei-kofman-ba63a8103/</li>
 </ul>
</div>