<div class="container"> <!-- main section -->
 <div class="row">
  <img src="https://i.imgur.com/rmFz0Zn.png" alt="popular films project" style="width:100%;">
 </div>
 <p>this is some of my work</p>
 <div class="row">
  <div class="col-lg-4">
   <img src="https://i.imgur.com/SUeQEvJ.png" alt="bass music project" style="width:100%;">
  </div>
  <div class="col-lg-4">
   <img src="https://i.imgur.com/SUeQEvJ.png" alt="bass music project" style="width:100%;">
  </div>
  <div class="col-lg-4">
   <img src="https://i.imgur.com/SUeQEvJ.png" alt="bass music project" style="width:100%;">
  </div>
 </div>
</div>

